body{
    padding-bottom: 20px;
    background-color: #E3D8E0;
    font-family: 'IM FELL Great Primer SC';
}

.form-control{
    width: 800px;
    height: 30px;
}
button{
    background-color: gray;
    border-radius: 5px;  
}
img{
    border-radius: 5px;
}
div.card{
    margin-top: 20px;
}
button1{
    margin-top: 20px;
}

.carousel-item{
    width: 800px;
    height: 320px;
    margin-left: 170px;
}
.Navv{
    text-decoration: none;
    font-size: larger;
}